.catalog-cart_section{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	div{
		max-width: 200px;
		box-shadow: 0 0 5px 2px #efefef;
		margin: 0 20px 30px;
		font-size: 13px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.catalog-cart_section-content{
			padding: 0 20px;

			h3, p{
				margin-bottom: 20px;
			}

			h3{
				margin-top: 20px;
				text-align: center;
				font-size: 20px;
			}

			p{
				line-height: 140%;
			}

			section {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				margin-bottom: 10px;

				span{

					&:first-child{
						font-size: 18px;
					}

					&:last-child{
						color: green;
					}
				}
			}
		}

		button{
			border: none;
			outline: none;
			background: none;
			padding: 0;

			a{
				text-transform: uppercase;
				font-size: 13px;
				background: #000;
				display: block;

				padding: 15px 20px;
				color: white;
				text-decoration: none;
			}
		}
	}

	img{
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

}