.sign-up{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 60px;

	.sign-up_wrap{
		background: #383941;
		width: 500px;
		border-radius: 3px;
		padding: 35px 45px;

		.sign-up_wrap_input-data{
			margin: 0 0 50px;

			section {
				display: flex;
				flex-direction: column;

				span{
					color: #CBCBCB;
					margin: 0 0 5px;
				}

				input{
					background: white;
					padding: 12px 20px;
					border-radius: 2px;
					border: none;
					margin: 0 0 10px;
					outline: none;
				}
			}

			button{
				border: none;
				outline: none;
				background: none;
				padding: 0;
				width: 100%;

				a{
					display: block;
					border-radius: 2px;
					background: #C8B87F;
					text-transform: uppercase;

					padding: 12px 20px;
					cursor: pointer;
					color: white;
				}
			}
		}

		.sign-up_wrap_below{
			display: flex;
			justify-content: space-between;
			align-items: center;

			a{
				color: #CBCBCB;
			}

			button{
				border: none;
				outline: none;
				background: none;
				padding: 0;

				a{
					cursor: pointer;
					padding: 12px 20px;
					display: block;
					border-radius: 2px;
					background: #C8B87F;
					color: white;
					text-transform: uppercase;
				}
			}
		}
	}
}