<section class="feedback">
	<h2 class="common-title">Feedback</h2>
	<div class="feedback_comments">
		<div class="feedback_comments-item">
			<img src="assets/images/icons/icons8-уолтер-уайт.svg" alt="">
			<div class="feedback_comments-item_up">
				<div class="feedback_comments-item_up_author">
					<span>Святослав Онисимович</span>
					<span>29.10.2019</span>
				</div>
				<p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Rem earum tenetur deleniti consequatur maiores similique quos. Earum explicabo maxime assumenda voluptatum molestias, blanditiis nihil labore, itaque est expedita reprehenderit iure.</p>
			</div>
		</div>
		<div class="feedback_comments-item">
			<img src="assets/images/icons/icons8-мумия.svg" alt="">
			<div class="feedback_comments-item_up">
				<div class="feedback_comments-item_up_author">
					<span>Алексей Павлович</span>
					<span>04.09.2020</span>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, cupiditate fuga consequuntur at atque in culpa alias eos officia rerum sunt quaerat dolorum, perferendis sapiente dicta temporibus expedita! Voluptates, numquam.</p>
			</div>
		</div>
		<div class="feedback_comments-item">
			<img src="assets/images/icons/icons8-маска-анонимуса.svg" alt="">
			<div class="feedback_comments-item_up">
				<div class="feedback_comments-item_up_author">
					<span>Андрей Смирнов</span>
					<span>14.05.2020</span>
				</div>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias eligendi placeat, sapiente sit! Debitis minus impedit, harum reiciendis laborum enim repellat amet non mollitia deserunt tenetur modi! Minus minima, vitae.</p>
			</div>
		</div>
	</div>
	<button class="btn-leave-review">оставить отзыв</button>

	<form class="modal">
		<div class="modal-window">
			<div>
				<input type="text" placeholder="Имя">
				<input type="text" placeholder="Фамилия">
			</div>
			<input type="email" placeholder="Email" class="email">
			<textarea placeholder="Отзыв ..."></textarea>
			<button>отправить</button>
		</div>
	</form>
</section>