<footer>
	<div class="indent link-in-footer">
		<div>
			<span>Вода</span>
			<span>Вино</span>
			<span>Красное</span>
			<span>Белое</span>
			<span>Шампанское</span>
			<span>Розовое</span>
			<span>Игристое</span>
		</div>
		<div>
			<span>О компании</span>
			<span>О продукции</span>
			<span>Правовые документы</span>
		</div>
		<div>
			<span>Москва, улица Охотный ряд, дом 1</span>
			<span class="link-in-footer_phone">+7 495 692-62-66</span>
		</div>
		<div>
			<img src="assets/images/icons/icons8-facebook.svg" alt="">
			<img src="assets/images/icons/icons8-instagram.svg" alt="">
			<img src="assets/images/icons/icons8-twitter.svg" alt="">
		</div>
	</div>
	<div class="indent lower-part-of-the-basement">
		<span class="btn-up">наверх</span>
		<span>© Габулян Т. Д., 2021</span>
	</div>
</footer>