<!-- mobile menu -->
<menu class="head_items-wrapper_up_menu_mob">
	<nav>
		<div class="head_items-wrapper_up_menu_mob_close">
			<img src="assets/images/icons/icons8-умножение-96.png" class="close" alt="">
		</div>
		<div class="search">
			<input type="text" placeholder="Search">
		</div>
		<a href="catalog.html">каталог</a>
		<a href="proba.html">проба</a>
		<a href="about-us.html">о нас</a>
		<a href="contacts.html">контакты</a>
		<div class="auth">
			<div>
				<img src="assets/images/icons/icons8-login-96.png" alt="">
				<a href="login.html">войти</a>
			</div>
			<div>
				<img src="assets/images/icons/icons8-login-rounded-96.png" alt="">
				<a href="sign-up.html">зарегистрироваться</a>
			</div>
		</div>
	</nav>
	<div class="head_items-wrapper_up_menu_mob_icons">
		<a href=""><img src="assets/images/icons/icons8-shopping-bag-96.png" alt="shopping-bag"></a>
		<a href=""><img src="assets/images/icons/icons8-search.svg" alt="search"></a>
		<img src="assets/images/icons/icons8-menu.svg" class="head_items-wrapper_up_menu_mob_button">
	</div>
</menu>