<header class="common-header">
	<div class="indent">
		<div class="common-header_wrapper">
			<h1 class="common-header_wrapper_title">Wine Provinces</h1>
			<menu class="common-header_wrapper_menu">
				<ul class="common-header_wrapper_menu_page">
					<a href="catalog.html">каталог</a>
					<a href="proba.html">проба</a>
					<a href="about-us.html">о нас</a>
					<a href="contacts.html">контакты</a>
				</ul>
				<ul class="common-header_wrapper_menu_authorization">
					<a href="">войти</a>
					<a href="">зарегистрироваться</a>
				</ul>
				<ul class="common-header_wrapper_menu_authorization_icons">
					<a href=""><img src="assets/images/icons/icons8-shopping-bag-96.png" alt="shopping-bag"></a>
					<a href=""><img src="assets/images/icons/icons8-search.svg" alt="search"></a>
				</ul>
			</menu>

			{{> mobile-menu}}

		</div>
	</div>
</header>