<section class="catalog">
	<h2 class="common-title">Catalog</h2>
	<div class="catalog-cart_section">
		<div>
			<img src="assets/images/pexels-ylanite-koppens.jpg" alt="">
			<section class="catalog-cart_section-content">
				<h3>Jameson</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque quis libero fermentum dapibus. Fusce in porta libero. Morbi</p>
				<section>
					<span>10$</span>
					<span>10 purchases</span>
				</section>
			</section>
			<button><a href="wine-card.html">learn more</a></button>
		</div>
		<div>
			<img src="assets/images/pexels-ylanite-koppens.jpg" alt="">
			<section class="catalog-cart_section-content">
				<h3>Jameson</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque quis libero fermentum dapibus. Fusce in porta libero. Morbi</p>
				<section>
					<span>10$</span>
					<span>10 purchases</span>
				</section>
			</section>
			<button><a href="wine-card.html">learn more</a></button>
		</div>
		<div>
			<img src="assets/images/pexels-ylanite-koppens.jpg" alt="">
			<section class="catalog-cart_section-content">
				<h3>Jameson</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque quis libero fermentum dapibus. Fusce in porta libero. Morbi</p>
				<section>
					<span>10$</span>
					<span>10 purchases</span>
				</section>
			</section>
			<button><a href="wine-card.html">learn more</a></button>
		</div>
	</div>
</section>