.card{
	display: flex;
	margin: 40px auto 0;
	max-width: 80%;

	.card_wrap{
		position: relative;

		.card_slide-goods{

			div{
				max-height: 500px !important;
				max-width: 400px !important;

				img{
					height: auto !important;
					max-width: 400px !important;
				}
			}
		}

		.card_slide-button{
			position: absolute;
			left: 350px;
			bottom: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.slick-track{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			img{
				height: 20px !important;
				width: 20px !important;
				margin: 0 0 8px;
				cursor: pointer;
			}
		}
	}

	.card_sidebar{
		justify-content: space-between;
		flex-direction: column;
		display: flex;
		margin: 0 0 0 50px;
		width: 87%;

		.card_sidebar_up{

			div{
				margin: 0 0 30px;

				h5{
					font-size: 22px;
				}

				img{
					margin: 8px 0 0;
				}
			}
		}

		.card_sidebar_down{

			section{
				margin: 0 0 20px;
				display: flex;
				flex-direction: column;

				span{
					font-size: 20px;
					position: relative;
					display: inline-block;
					margin: 0 0 10px;
					width: min-content;
					white-space: nowrap;

					&:before{
						content: '';
						width: 100%;
						height: 2px;
						background: $border-bottom;
						display: block;
						bottom: -5px;
						position: absolute;
					}
				}

				input{
					width: 10%;
					margin: 0 0 0 25px;
					border: none;
					outline: none;
				}
			}

			button{
				outline: none;
				border: none;
				background: none;
				width: 100%;
				padding: 0;

				a{
					background: black;
					padding: 7px 20px;
					cursor: pointer;
					text-decoration: none;
					color: white;
					display: block;
					text-transform: uppercase;
				}
			}
		}
	}
}

.slick-slide:active,
.slick-slide:focus {
	outline: none;
}